
@font-face {
    font-family: 'Roboto';
    src: local('font/Roboto Black'), local('font/Roboto-Black'), url('font/Roboto-Black.woff2') format('woff2'), url('font/Robotoblack.woff') format('woff'), url('font/Robotoblack.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family:   Roboto;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    margin: 0 auto;
  
}
.box
{
    width: 100%;
    max-width: 1830px;
    padding-left: 35px;
    padding-right: 25px;
    font-size: 16px;
    font-family: Roboto;
   
    position: relative;
    text-align: center;
}
header 
{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    font-size: 18px;
    text-align: center;
    color: #6fbcaa;
    display: block;
    font-family: Roboto;
    font-weight: 500;
}
ul
{
    color: #16a085;
    letter-spacing: none;
    display: inline-flex; 
	letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: space-between;
	font-size: 18px;
    
}
li
{
    margin-right: 60px;
    margin-top: 40px;
	
}
li a
{
   text-decoration: none;
    color: unset;
}
li a:visited
{
    color: unset;
}
.nav 
{
    display: inline-flex;
    justify-content: space-between;
}
.nav a
{
     margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
main
{
    width: 100%;
    font-family: inherit;
    background-color: #f5f6f7;
}
.slider img
{
    width: 100%;
    height: auto;
}
.main-textblock
{
    font-family: Roboto , sans-serif;
    margin-top: 57px;
    padding-left: 120px;
    padding-right: 120px;
}
.title 
{
    
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 36px;
}
.maintext
{
   
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
}
.main2text
{
   
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
}
.button
{
    width: 100%;
    max-width: 190px;
    height: 50px;
    background-color: #16a085;
    color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    margin-bottom: 80px;
}
hr
{
  border: none;
}


.p
{
   font-size: medium;
    justify-content: flex-start;
}


.footer-menu
{
	
	
    color: black;
    margin-top:49px;
    margin-bottom: 30px;
	padding-left: 60px;
    text-align: left;
    background-color: #ffffff;  
	text-transform: uppercase;
	left:107px;
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.15em;
}
.footer-menu a {
    text-decoration: none;
    
}
.copyr {
	color: #000000;
    text-align: right;
    margin-top: 100px;
    margin-right: 102px;
    margin-bottom: 50px;
    
    font-size: 12px;
    letter-spacing: 2px;
    justify-content: space-between;
    font-weight: 600;
    width: 410px;
    float: right;

}
