body{
    font-family: sans-serif;
    background-image: url(img/1.jpg);
	
}
.gb{
    width: 100%;
    height: 250px;
    position: relative;
    display: grid;
    text-align: center;
    top: 100px;
}
.vt{
    font-size: 42px;
    color: white;
}
.nt{
    font-size: 36px;
    color: white;
}