@font-face
{
    font-family: "RobotoMedium";
    font-style: normal;
    font-weight: 500;
    src:  url("/font/Roboto/Roboto-Medium.ttf") format("truetype"),
         url("font/Roboto/roboto-medium.woff") format("woff"),
         url("font/Roboto/roboto-medium.woff") format("woff2");
       
}


.box{
    
     width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
	
}
.logo{
    height: 70px;
    font-size: 90px;
    padding-bottom: 47px;
}
.log{
    color: black;
    text-decoration: none;
}
span{
    color: #4bcaff;
}
.upmenu{
    border: 1px solid #818181;
}

.upmenu
{
	width: 100%;
    height: 70px;
    background: #35444f;
    margin:auto; 
    text-align: center;
    color: white;
    

}
.menu1comp {
    display: inline-block;
    font-size: 28px;
    color: white;
    padding :0px 40px ;
    line-height: 67px;
    text-decoration: none;
}
.menu1comp:hover{
    background: #222f3a;
     border: 1px solid #818181;
}
main{
	width: 1280px;
    height: 900px;
    padding-top: 50px;
}
.leftblock{
	float: left;
    width: 340px;
    height: 405px;
    border: 1px solid black;
   
}
.LeftMenu a{
	display: inline-block;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 42px;
    font-size: 27px;
    color: #495863;
    display: block;
	text-decoration: none;
}

.LeftMenu a:hover{
    background: #dbdbdb;
    padding-left: 60px;
    color: black;
}

.img{
    float: right;
    width: 885px;
    height: 530px;
    padding-left: 50px;
    display: inline-block;
}

.text1{
    font-family: "Roboto", sans-serif;
    float: right;
    width: 830px;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
	text-align:left;
}
.text2{
    font-family: "Roboto", sans-serif;
    float: right;
    width: 830px;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
	text-align:left;
}
 
.f{
    display: inline-block;
    height: 70px;
    background-color: #b4b7ba;
    margin-bottom: 30px;
    letter-spacing: 0px;
      margin-top: 50px;
}

.footmenu{
  
 
    float: left;
    font-size: 28px;
    line-height: 67px;
    margin-left: 25px;   
}
.footmenu a{
    color: #0c1927;
    padding: 0 10px;
    text-decoration: none;
}
.footmenu a:hover{
   text-decoration: underline; 
    color: #3181a6;
}
.c{
    margin-left: 247px;
    float: right;
    line-height: 67px;
    font-size: 24px;
    margin-right: 32px;
}


p{
   line-height: 30px;
}
.img{
    display: inline-block;
    overflow: hidden;
}
.img img{
    transition: 1s;
    display: block;
}
.img img:hover{
     transform: scale(1.15);
}
.c{
     float: right;
    line-height: 70px;
    font-size: 22px;
    margin-right: 35px;
}

