@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Verdana.ttf) format('ttf'),
    url(../fonts/Verdana.woff) format('woff'),
    url(../fonts/Verdana.woff2) format('woff2');
}

@font-face {
    font-family: 'Verdana-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Verdana-Bold.ttf) format('ttf'),
    url(../fonts/Verdana-Bold.woff) format('woff'),
    url(../fonts/Verdana-Bold.woff2) format('woff2');
}

a {
    text-decoration: none;
}

body {
    background-image:url(../img/rana-sawalha-364253-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: relative;
	margin: auto;
	width: 100%;
	height: 54px;
	background: rgba(0, 0, 0, 0.5);
}

.w {
    width: 1800px;
    margin: 0 auto;
    height: 54px;
}

.journey {
    position: relative;
    float: left;
	width: 106px;
	height: 20px;
    margin-left: 82px;
    margin-top: 18px;
    text-transform: uppercase;
    font-family: Verdana-Bold;
    font-size: 20px;
    color: white;
}

.journey:hover {
    color: #3cb878;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}

.images {
    position: relative;
    float: right;
	width: 384px;
	height: 22px;
    margin-right: 76px;
    margin-top: 18px;
}

.img1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/css_sprites.png) -10px -46px;
    margin-right: 24px;
}

.img1:hover {
    background: url(../img/css_sprites.png) -10px -85px;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.img2 {
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url(../img/css_sprites.png) -10px -124px;
    margin-right: 24px;
}

.img2:hover {
    background: url(../img/css_sprites.png) -10px -164px;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.img3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/css_sprites.png) -10px -204px;
    margin-right: 20px;
}

.img3:hover {
    background: url(../img/css_sprites.png) -10px -244px;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.img4 {
    display: inline-block;
    background: gray;
    width: 2px;
    height: 20px;
    margin-right: 20px;
}

.textheader1 {
    display: inline-block;
    vertical-align: 5px;
    font-family: 'Verdana';
    font-size: 14px;
    color: white;
    height: 20px;
    width: 73px;
}
.textheader2 {
    display: inline-block;
    vertical-align: 5px;
    font-family: 'Verdana';
    font-size: 14px;
    color: white;
    height: 20px;
    width: 73px;
}

.in {
    display: inline-block;
    vertical-align: 5px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #3cb878;
    height: 20px;
    width: 45px;
    margin-right: 4px;
}

.in:hover {
    text-decoration: underline;
    text-decoration-color: #336246;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.ups {
	float:right;
    display: inline-block;
    vertical-align: 5px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #3cb878;
    height: 20px;
    width: 55px;
	 margin-right: 4px;
}

.ups:hover {
    text-decoration: underline;
    text-decoration-color: #336246;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.main {
    position: absolute;
	top: 50%;
    left: 50%;
    margin-top: -265px;
	margin-left: -222px;
	width: 444px;
	height: 584px;
	background-color: white;
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.cube {
    position: absolute;
    top:28px;
    width: 18px;
    height: 18px;
    background: #3cb878;
}

.sign {
    position: absolute;
	top:28px;
	left: 60px;
	font-family: 'Verdana';
	font-size: 20px;
	color: #434343;
}

.logg {
    position: absolute;
	top: 32px;
	right: 58px;
	font-family: 'Verdana';
	font-size: 14px;
	color: #3cb878;
}

.logg:hover {
    text-decoration: underline;
    text-decoration-color: #b1e3c9;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.fb {
    position: absolute;
    top: 63px;
    left: 62px;
	width:156px;
	height: 46px; 
	border-radius: 5px;
	background-color: #305db8;
}

.fb:hover {
    background-color: #264b96;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.fblogo {
    position:absolute;
    top:10px;
    left: 17px;
    width: 20px;
    height: 30px;
    background: url(../img/css_sprites.png) -8px -280px;
}

.fbline {
    position: absolute;
    top: 10px;
    left: 46px;
	width: 1px;
	height: 26px;
	background: black;
	opacity: 0.1;
}

.fbtext {
    position: absolute;
	top: 16px;
	left: 66px;
	font-family: 'Verdana';
	font-size: 16px;
	color: white;
}

.gp {
    position: absolute;
    top: 63px;
    right: 59px;
	width:156px;
	height: 46px; 
	border-radius: 5px;
	background-color: #df4a32;
}

.gp:hover {
    background-color: #c3412c;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.gplogo {
    position:absolute;
    top:10px;
    left: 12px;
    width: 25px;
    height: 30px;
    background: url(../img/css_sprites.png) -10px -4px;
}

.gptext {
    position: absolute;
	top: 16px;
	left: 71px;
	font-family: 'Verdana';
	font-size: 16px;
	color: white;
}
.gpline {
    position: absolute;
    top: 10px;
    left: 46px;
	width: 1px;
	height: 26px;
	background: black;
	opacity: 0.1;
}

.ll {
    position: absolute;
    top: 145px;
    left: 61px;
    height: 1px;
    width: 135px;
    background: #eaeaea;
	float:right;
}

.or {
    position: absolute;
    top: 141px;
    left: 215px;
    height: 1px;
    width: 135px;
    font-family: 'Verdana';
	font-size: 14px;
	color: #848484;
}

.lr {
    position: absolute;
    top: 145px;
    left: 249px;
    height: 1px;
    width: 135px;
    background: #eaeaea;
}

.fname {
    position: relative;
    margin-left:64px;
    margin-top:8px;
    width: 300px;
	height: 42px;
	top:168px; 
	border:1px solid #eaeaea;
	border-radius: 2px;
	padding-left: 18px;
	font-family: 'Verdana';
	font-size: 14px;
	color: #434343;
}

.fname:focus {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    outline:none;
}

::-webkit-input-placeholder { 
    font-family: 'Verdana';
    font-size: 14px;
    color: #bebebe;
}

.agree {
    position: absolute;
    bottom: 102px;
    left: 62px;
    height: 20px;
    width: 250px;
}

.checkbox {
    position: relative;
}

.click {
    -webkit-appearance: none;
    appearance: none;
}

.click:checked + .click1::after {
    opacity: 1;
}

.click1 {
    padding-left: 22px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #434343;
}

.click1::before {
    content: "";
    display: block;
    position: absolute;
    top:-3px;
    left:0;
    z-index: 1;
    height: 20px;
    width: 20px;
    border:1px solid #bebebe;
    border-radius: 3px;
    background: white;
}

.click1::after {
    content: "";
    display: block;
    position: absolute;
    top:4px;
    left:4px;
    z-index: 2;
    height: 11px;
    width: 14px;
    background-image: url(../img/checkbox.png); 
    background-repeat: no-repeat;      
    background-size: 14px 11px;
    opacity: 0;
}

.click1:hover {
    cursor: pointer;
}

.click2 {
    color: #3cb878;
}

.click2:hover {
    text-decoration: underline;
    text-decoration-color: #b1e3c9;
    transition-timing-function: ease;
    transition-duration: 0.4s;
}

.addaccount {
    position: absolute;
    bottom: 32px;
	left: 62px;
	border: 0;
    border-radius: 2px;
	background: #3cb878;
    padding: 16px 100px;
	text-decoration: none;
	font-family: 'Verdana';
	font-size: 16px;
	color: white;
}

.addaccount:hover {
    transition-timing-function: ease;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #329a65;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
  }